
body{
  background-image: url("../src/images/bg.jpg");
  }
  
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    align-self: center;
    height: 80%;
  }
  
  .leaflet-container {
    width: 50%;
    height: 100vh;
    position: relative;
    bottom: 0;
  }
  
  .map-popup {
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
  }
  